body{
	background: #D0E9FF;
}

#headtitle{
	font-size: 50px;
	text-align: center;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
}

ul{
	width: 48%;
	float: left;
	margin: 0;
	padding: 0 1%;
	list-style: none;
}

ul li{
	background: #eee;
	padding: 10px;
	margin: 2px 0;
	border: solid 1px #ccc;
}

ul li:hover{
	background: #ddd;
	border-color: #aaa;
	cursor: pointer;
}

ul li:active{
	transform: rotate(2deg);
	background: #ccc;
	border-color: #999;
	box-shadow: 0 10px -4px #111;
}
#todolistWrapper{
	width: 960px;
	position: relative;
	margin:100px auto;
	background: white;
	padding: 23px;
	border:solid 1px #ccc;
	border-radius: 10px;
	/*box-shadow: 5px 5px 5px black;*/
}

#todolist:after{
	display: table;
	content: "";
	clear: both;
}

#todolist ul{
	width: 14.28%;
	margin: 0;
	padding: 0;
	position: relative;
	display: inline-block;
}

#todolist li{
	background: none;
	padding: 5px;
	border: none;
	margin: 0;
	text-align: left;
	font-size: 12px;
}

#todolist li:hover{
	background: #eee;
}

#todolist li.listtitle{
	background: #00343F;
	color: white;
	padding: 10px;
	text-align: center;
	border-right: solid 1px white;
	font-size: 20px;
	font-family: 'Fredericka the Great', cursive;
}

#todolist li.listtitle:hover,
#todolist li.listtitle:active {
	cursor: default;
	transform: none;
}

#todolist .emptySpace{
	background: #fc3;
	border: dashed 1px #777;
	height: 10px;
}

#todolist li.additem{
	display: none;
	position: absolute;
	top: 0;
	background: none;
}

#todolist ul:hover li.additem{
	display: block;
}

#todolist li.additem input{
	width: 90%;
	padding: 4px;
	margin-top: 4px;
}

#todolist li.additem:active{
	transform: none;
}

#todolist li.addeditem{
	word-break: break-all;
	font-size: 16px;
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 26px;
	font-weight: bold;
}

#trash{
	height: 150px;
	width: 100px;
	margin: 200px auto 30px;
	text-align: center;
}

.fa-trash-o{
	font-size: 6em;
}

#trashP{
	font-family: 'Indie Flower', cursive; 
	font-weight: bold;
	margin-top: 10px;
}

.checkBox{
	margin-left: 0;
	width: 17px;
	height: 17px;
}



/*checkbox animation*/
